{% extends 'base.html.twig' %}

{% block title %}NUTI{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(10,10,10,.8);">
  <a class="navbar-brand pr-5 pl-5" href="#"><img src="{{ asset('build/img/logo.png') }}" style="height: 50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a href="/" class="btn btn-danger">Voltar</a>
  </div>
</nav>
  {% for flashError in app.flashes('verify_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flashError }}</div>
  {% endfor %}

  <div class="container" style="margin-top: 100px;">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}

