{% extends 'system/base.html.twig' %}

{% block content %}
<section id="content">
    <div class="container">
    {% for item in ripd %}
        <div class="row mt-2">
            <div class="col-lg-2">{{ item.id }}</div>
            <div class="col-lg-3">{{ item.control }}</div>
            <div class="col-lg-2">{{ item.operator }}</div>
            <div class="col-lg-2">{{ item.reason }}</div>
            <div class="col-lg-2">{{ item.createdAt|date("m/d/Y") }}</div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}

