{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/testenuti/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/testenuti/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
<a href="{{ path('app_logout') }}" class="btn btn-danger">Sair</a> <br>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_register') }}" class="btn btn-success">Registrar Conta</a>
    <a href="#" class="btn btn-info">Relatório de Proteção de Dados</a>
{% endif %}

{% endblock %}
